<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
	
</script>

<body>
<!--  Concat two string using module and controller-->

	<div ng-app="myapp" ng-controller="appctrl">
		<p>
			First Name :<input type="text" ng-model="fname">
		</p>
		<p>
			Last Name :<input type="text" ng-model="lname">
		</p>

		<p>Welcome {{fname+" "+lname}}
	</div>
	<script>
		var app = angular.module('myapp', []);
		app.controller('appctrl', function($scope) {
			$scope.fname = "Isha";
			$scope.lname = "Fathima";
		});
	</script>
	
	
</body>
</html>